## The classification goal is to predict if the client will subscribe a term deposit (variable y)

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

#### Reading in the csv file while specifying the separator

In [2]:
full_df = pd.read_csv('bank-full.csv', sep=';')
full_df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

#### Subsetting for needed columns

In [3]:
df = full_df[['age','job',
                'marital',
                'education',
                'balance',
                'housing',
                'contact',
                'day',
                'month',
                'duration',
                'campaign',
                'pdays',
                'previous',
                'poutcome',
                'y'
]].copy()
df.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
# checking for null values in the selected columns
df.isna().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

#### 1. Mode of the education column

In [5]:
df['education'].mode()

0    secondary
Name: education, dtype: object

#### 2. Correlation matix for numerical features

In [6]:
corr_matrix = df.corr()
corr_matrix

C:\Users\akrowey.kaku\AppData\Local\Temp\ipykernel_18640\2355143037.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr()

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

In [7]:
corr_unstack = corr_matrix.unstack()
corr_unstack = corr_unstack[corr_unstack != 1] #removes self correlation which is 1 always
highest_corr = corr_unstack.abs().sort_values(ascending=False).head(1)
print("Highest correlation is between the following features:")
print(highest_corr)

Highest correlation is between the following features:
previous  pdays    0.45482
dtype: float64

In [8]:
# Target encoding
df['y'] = df['y'].replace({'yes': 1, 'no': 0})
df.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,2143,yes,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,29,yes,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,2,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,1506,yes,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,1,no,unknown,5,may,198,1,-1,0,unknown,0

In [9]:
#splitting the data
from sklearn.model_selection import train_test_split

In [10]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.2, random_state=42)

In [11]:
len(df_train), len(df_val), len(df_test)

(28934, 7234, 9043)

In [12]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [13]:
y_train = df_train.y.values
y_val = df_val.y.values
y_test = df_test.y.values

del df_train['y']
del df_val['y']
del df_test['y']

#### 3. Mutual information score

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   balance    45211 non-null  int64
 5   housing    45211 non-null  object
 6   contact    45211 non-null  object
 7   day        45211 non-null  int64
 8   month      45211 non-null  object
 9   duration   45211 non-null  int64
 10  campaign   45211 non-null  int64
 11  pdays      45211 non-null  int64
 12  previous   45211 non-null  int64
 13  poutcome   45211 non-null  object
 14  y          45211 non-null  int64
dtypes: int64(8), object(7)
memory usage: 5.2+ MB

In [15]:
df.columns

Index(['age', 'job', 'marital', 'education', 'balance', 'housing', 'contact',
       'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome',
       'y'],
      dtype='object')

In [16]:
numerical = ['age','balance','day','duration','campaign','pdays','previous']
categorical = ['job', 'marital', 'education','housing', 'contact','month','poutcome']

In [17]:
from sklearn.metrics import mutual_info_score 
#this score gives information of how much an effect a variable has on the target variable

In [18]:
def mutual_info_churn_score(series):
    return round(mutual_info_score(series, df_full_train.y),2) 
#this function computes the mutual info score between the target variable and all categorical variables in the data frame

In [19]:
mi = df_full_train[categorical].apply(mutual_info_churn_score)
mi.sort_values(ascending=False)
#the mutual info when applied on the categorical columns gives information on how influential each column is on the target variable

poutcome     0.03
month        0.02
job          0.01
housing      0.01
contact      0.01
marital      0.00
education    0.00
dtype: float64

In [20]:
mi_ = df_full_train[numerical].apply(mutual_info_churn_score)
mi_.sort_values(ascending=False)

balance     0.10
duration    0.10
pdays       0.03
age         0.01
day         0.01
previous    0.01
campaign    0.00
dtype: float64

#### 4. Logistic Regression

In [21]:
from sklearn.feature_extraction import DictVectorizer

In [22]:
#one-hot encoding for all categorical variables
#this is to allow categrical variables to be included in the model training

dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [23]:
dv.get_feature_names_out()

array(['age', 'balance', 'campaign', 'contact=cellular',
       'contact=telephone', 'contact=unknown', 'day', 'duration',
       'education=primary', 'education=secondary', 'education=tertiary',
       'education=unknown', 'housing=no', 'housing=yes', 'job=admin.',
       'job=blue-collar', 'job=entrepreneur', 'job=housemaid',
       'job=management', 'job=retired', 'job=self-employed',
       'job=services', 'job=student', 'job=technician', 'job=unemployed',
       'job=unknown', 'marital=divorced', 'marital=married',
       'marital=single', 'month=apr', 'month=aug', 'month=dec',
       'month=feb', 'month=jan', 'month=jul', 'month=jun', 'month=mar',
       'month=may', 'month=nov', 'month=oct', 'month=sep', 'pdays',
       'poutcome=failure', 'poutcome=other', 'poutcome=success',
       'poutcome=unknown', 'previous'], dtype=object)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [32]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [33]:
model.intercept_[0]

-1.0020552150077868

In [34]:
y_pred = model.predict(X_val)
y_pred

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [35]:
from sklearn.metrics import classification_report

In [36]:
report = classification_report(y_val, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.98      0.95      6382
           1       0.66      0.34      0.45       852

    accuracy                           0.90      7234
   macro avg       0.79      0.66      0.70      7234
weighted avg       0.89      0.90      0.89      7234

#### Regularized Logistic Regression

In [37]:
C_values = [0.01, 0.1, 1, 10, 100]


for C in C_values:
    # Create a logistic regression model with the current C value
    model = LogisticRegression(C=C, max_iter=1000, random_state=42)
    
    # Train the model
    model.fit(X_train, y_train)
    
    # Make predictions on the validation set
    y_pred = model.predict(X_val)
    
    # Calculate accuracy
    accuracy = accuracy_score(y_val, y_pred)
    
    # Print the accuracy, rounded to 3 decimal digits
    print(f'Accuracy with C={C}: {round(accuracy, 3)}')

C:\Users\akrowey.kaku\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy with C=0.01: 0.898

C:\Users\akrowey.kaku\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy with C=0.1: 0.9

C:\Users\akrowey.kaku\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy with C=1: 0.9

C:\Users\akrowey.kaku\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy with C=10: 0.901
Accuracy with C=100: 0.9

C:\Users\akrowey.kaku\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import joblib

# Load your data
# Assuming X and y are your features and target variable respectively
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Train the model
r_model = RandomForestClassifier()
r_model.fit(X_train, y_train)

# Save the trained model using joblib
joblib.dump(r_model, 'subscription_model.pkl')

['subscription_model.pkl']

In [34]:
r_y_pred = model.predict(X_val)
r_y_pred

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [35]:
report = classification_report(y_val, r_y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.98      0.95      6382
           1       0.68      0.35      0.46       852

    accuracy                           0.90      7234
   macro avg       0.80      0.66      0.70      7234
weighted avg       0.89      0.90      0.89      7234

In [31]:
#pip install streamlit

Requirement already satisfied: streamlit in c:\users\akrowey.kaku\anaconda3\lib\site-packages (1.30.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (4.2.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<8,>=1.4 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (7.0.1)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (1.26.4)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (1.5.3)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (10.2.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (3.20.3)
Requirement already satisfied: pyarrow>=6.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (14.0.2)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (13.3.5)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (4.9.0)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (0.18.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (3.1.37)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (6.3.3)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from streamlit) (2.1.6)
Requirement already satisfied: jinja2 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.3)
Requirement already satisfied: jsonschema>=3.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.19.2)
Requirement already satisfied: toolz in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.7)
Requirement already satisfied: zipp>=0.5 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from importlib-metadata<8,>=1.4->streamlit) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: six>=1.5 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.2.2)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: tzdata in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from tzlocal<6,>=1.1->streamlit) (2023.3)
Requirement already satisfied: decorator>=3.4.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from validators<1,>=0.2->streamlit) (5.1.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\akrowey.kaku\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [42]:
#pip install joblib

Requirement already satisfied: joblib in c:\users\akrowey.kaku\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import streamlit as st
import joblib
import numpy as np

# Load the model
model = joblib.load('subscription_model.pkl')

# Title
st.title("Subscription Prediction App")

# Input form for customer details
st.header("Enter Customer Details")
balance = st.number_input("Balance", min_value=10, max_value=100000000, value=1000)
duration = st.number_input("Duration", min_value=1000, value=50000)
poutcome = st.text_input("Previous outcome", help="failure, succes, other, unkown", value='')
pdays = st.number_input("P Days", min_value=1, max_value=850, value=100)

# Prediction
if st.button("Predict"):
    features = np.array([[balance,duration,poutcome,pdays]])  # Adjust to your feature set
    prediction = model.predict(features)
    if prediction == 1:
        st.write("The customer is likely to subscribe.")
    else:
        st.write("The customer is not likely to subscribe.")